name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          flutter-version: '3.16.9'

      - name: Install dependencies
        run: flutter pub get

      - name: Build for web
        run: flutter build web --release --base-href /secure_task_manager/ --web-renderer canvaskit

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: build/web

      - name: Echo deployed URL
        run: echo "Deployed to https://${{ github.repository_owner }}.github.io/secure_task_manager/"
